In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
file_path = 'C:/Users/BrindhaGanesan/Downloads/IECBC-Evaluation-Report-20250101070020135.csv'
eval_report = pd.read_csv(file_path)
eval_report.shape

(8000, 38)

In [5]:
len(eval_report['Username'].unique())

328

In [7]:
df_unique_users = eval_report.drop_duplicates(subset=['Username'])
df_unique_users.shape

(328, 38)

In [9]:
df_unique_users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328 entries, 0 to 7970
Data columns (total 38 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Username                                                328 non-null    object
 1   Course Name                                             328 non-null    object
 2   Eval Question                                           328 non-null    object
 3   Eval Response                                           129 non-null    object
 4   Eval Rating                                             328 non-null    int64
 5   Eval Response DateAdded                                 328 non-null    object
 6   Cohort Name                                             328 non-null    object
 7   Program Version                                         328 non-null    object
 8   Gender                                                  275 non-null    object
 9   Age                                                     275 non-null    object
 10  Status in Canada                                        275 non-null    object
 11  Marital Status                                          275 non-null    object
 12  Country of Birth                                        275 non-null    object
 13  Country you have_will immigrate from                    274 non-null    object
 14  Year landed in Canada _enter 0 if not yet landed_       275 non-null    float64
 15  Highest level of education                              275 non-null    object
 16  Country                                                 328 non-null    object
 17  Province                                                328 non-null    object
 18  City                                                    328 non-null    object
 19  What is your current employment status                  275 non-null    object
 20  What industry or sector are you working in              275 non-null    object
 21  Is this your preferred industry or sector               275 non-null    object
 22  What is your current annual employment salary           275 non-null    object
 23  FirstName                                               328 non-null    object
 24  LastName                                                328 non-null    object
 25  Phone                                                   328 non-null    object
 26  Genre                                                   53 non-null     object
 27   Âge                                                    53 non-null     object
 28  Statut au Canada                                        53 non-null     object
 29  Situation maritale                                      53 non-null     object
 30  Pays de naissance                                       53 non-null     object
 31  Pays d_où vous avez immigré_immigrerez                  53 non-null     object
 32  Année d_arrivée au Canada _saisir 0 si non applicable_  53 non-null     object
 33  Plus haut niveau de formation                           53 non-null     object
 34  Quelle est votre situation professionnelle actuelle     53 non-null     object
 35  Dans quelle industrie ou secteur travaillez_vous        53 non-null     object
 36  Est_ce votre secteur ou industrie de prédilection       53 non-null     object
 37  Quel est votre salaire annuel actuel                    53 non-null     object
dtypes: float64(1), int64(1), object(36)
memory usage: 99.9+ KB

In [11]:
# Select demographic columns
demographic_columns_filtered = [
    "Gender", "Age", "Status in Canada", "Marital Status", "Country of Birth",
    "Country you have_will immigrate from", "Year landed in Canada _enter 0 if not yet landed_",
    "Highest level of education", "What is your current employment status",
    "What industry or sector are you working in", "Is this your preferred industry or sector",
    "What is your current annual employment salary"
]

df_demographics_filtered = df_unique_users[demographic_columns_filtered]
df_demographics_filtered.head()

,Gender,Age,Status in Canada,Marital Status,Country of Birth,Country you have_will immigrate from,Year landed in Canada _enter 0 if not yet landed_,Highest level of education,What is your current employment status,What industry or sector are you working in,Is this your preferred industry or sector,What is your current annual employment salary
0,Female,50-59,Permanent Resident (In Canada),Single,Iran,Canada,2019.0,Graduate degree,5) Unemployed,01) I am not currently employed,2) No,1) I am not currently employed
30,Female,20-29,Student with work visa,Single,South Korea,South Korea,2018.0,Degree,1) Employed,17) Health care and social assistance,1) Yes,"3) $25,000 – $50,000"
60,Female,40-49,Permanent Resident (In Canada),Separated/divorced,China,China,2017.0,Degree,4) Self-employed (Contractor or Consultant),"13) Professional, scientific and technical ser...",1) Yes,"2) Less than $25,000"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Male,40-49,Permanent Resident (In Canada),Married/live with partner,IRAN,IRAN,2024.0,Graduate degree,5) Unemployed,01) I am not currently employed,2) No,1) I am not currently employed

In [13]:
df_demographics_filtered.shape

(328, 12)

In [15]:
# Drop completely empty rows
df_demographics_filtered = df_demographics_filtered.dropna(how='all')

In [17]:
df_demographics_filtered.shape

(275, 12)

In [19]:
df_demographics_filtered['Gender'].value_counts()

Gender
Female                    205
Male                       69
Prefer not to disclose      1
Name: count, dtype: int64

In [21]:
df_demographics_filtered['Age'].value_counts()

Age
30-39                     127
40-49                      88
20-29                      39
50-59                      17
14-19                       2
60-69                       1
Prefer not to disclose      1
Name: count, dtype: int64

In [23]:
df_demographics_filtered['Status in Canada'].value_counts()

Status in Canada
Permanent Resident (In Canada)                                   200
Temporary Foreign Worker (IRPR s.112 work permit)                 53
Convention Refugee                                                 7
Student with work visa                                             6
Permanent Resident, Approved in Principle (Not yet in Canada)      4
Canadian citizen                                                   4
Spouse of Permanent Resident Principal Applicant (In Canada)       1
Name: count, dtype: int64

In [25]:
pd.set_option('display.max_rows', None)  # Show all rows
df_demographics_filtered['Country of Birth'].value_counts()

Country of Birth
Ukraine                   36
India                     34
Nigeria                   17
Iran                      14
China                     11
Colombia                   9
Egypt                      9
Ecuador                    8
Peru                       7
Ukraine                    7
Russia                     6
Philippines                5
Vietnam                    4
Pakistan                   4
Afghanistan                4
India                      3
Mexico                     3
Afghanistan                3
Mali                       3
Syria                      3
morocco                    3
Poland                     2
South Korea                2
Cameroon                   2
india                      2
INDIA                      2
Viet Nam                   2
Venezuela                  2
South Korea                2
Burundi                    2
Canada                     2
Algeria                    2
Uganda                     2
Morocco                    2
China                      1
2002-01-10                 1
Belgium                    1
IRAN                       1
Madagascar                 1
Sudan                      1
Dominican Republic         1
USSR                       1
Congo                      1
Sri Lanka                  1
Iran                       1
United Arab Emirates       1
Eritrea                    1
Sri lanka                  1
Guatemala                  1
Bosnia and Hercegovina     1
Україна                    1
Hk                         1
Haiti                      1
PHILIPPINES                1
cameroon                   1
Egypt                      1
Hungary                    1
Côte d'Ivoire              1
Hong Kong                  1
Saudi Arabia               1
somail                     1
France                     1
Turkey                     1
Antigua and Barbuda        1
Ecuador                    1
Macedonia                  1
Cameroun                   1
colombia                   1
United Kingdom             1
Moldova                    1
saudi arabia               1
Ukrain                     1
Togo                       1
Brazil                     1
France                     1
Armenia                    1
CHINA                      1
Colombia                   1
Algérie                    1
Republic of Korea          1
Slovakia                   1
Kazakhstan                 1
Grenada                    1
china                      1
Trinidad and Tobago        1
Nigeria                    1
Perú                       1
South Sudan                1
Somalia                    1
Bangladesh                 1
Name: count, dtype: int64

In [27]:
# Convert to lowercase, strip whitespace, and standardize spelling

df_demographics_filtered['Country of Birth Cleaned'] = (
    df_demographics_filtered['Country of Birth']
    .str.strip()                     # remove leading/trailing spaces
    .str.lower()                    # convert to lowercase
    .replace({
        'ukrain': 'ukraine',
        'україна': 'ukraine',
        'ukraine': 'ukraine',       # keep main label
        'ukraine ': 'ukraine',      # trailing space
        'india': 'india',
        'INDIA': 'india',
        'china': 'china',
        'CHINA': 'china',
        # add more as needed
    })
)

# Check cleaned counts
df_demographics_filtered['Country of Birth Cleaned'].value_counts()

Country of Birth Cleaned
ukraine                   45
india                     41
nigeria                   18
iran                      16
china                     14
colombia                  11
egypt                     10
ecuador                    9
peru                       7
afghanistan                7
philippines                6
russia                     6
morocco                    5
south korea                4
pakistan                   4
vietnam                    4
mexico                     3
syria                      3
cameroon                   3
mali                       3
france                     2
poland                     2
viet nam                   2
burundi                    2
venezuela                  2
canada                     2
saudi arabia               2
algeria                    2
uganda                     2
sri lanka                  2
somail                     1
bosnia and hercegovina     1
united arab emirates       1
congo                      1
sudan                      1
dominican republic         1
madagascar                 1
belgium                    1
hong kong                  1
antigua and barbuda        1
eritrea                    1
côte d'ivoire              1
ussr                       1
hungary                    1
guatemala                  1
haiti                      1
hk                         1
togo                       1
turkey                     1
south sudan                1
2002-01-10                 1
somalia                    1
trinidad and tobago        1
armenia                    1
united kingdom             1
cameroun                   1
macedonia                  1
moldova                    1
brazil                     1
algérie                    1
republic of korea          1
slovakia                   1
kazakhstan                 1
grenada                    1
perú                       1
bangladesh                 1
Name: count, dtype: int64

In [29]:
df_demographics_filtered['Marital Status'].value_counts()

Marital Status
Married/live with partner    203
Single                        45
Separated/divorced            20
Prefer not to disclose         7
Name: count, dtype: int64

In [31]:
df_demographics_filtered['Is this your preferred industry or sector'].value_counts()

Is this your preferred industry or sector
2) No     145
1) Yes    130
Name: count, dtype: int64

In [33]:
df_demographics_filtered['What is your current annual employment salary'].value_counts()

What is your current annual employment salary
1) I am not currently employed    141
3) $25,000 – $50,000               71
2) Less than $25,000               35
4) $50,000 - $75,000               17
5) $75,000 - $100,000               8
6) More than $100,000               3
Name: count, dtype: int64

In [35]:
df_demographics_filtered['Country you have_will immigrate from'].value_counts()

Country you have_will immigrate from
Ukraine                                        35
India                                          27
Nigeria                                        14
China                                          11
Egypt                                          10
Iran                                           10
Ecuador                                         9
Peru                                            8
Canada                                          8
Colombia                                        7
Ukraine                                         5
Turkey                                          4
Mexico                                          4
Russia                                          4
UAE                                             4
Pakistan                                        4
India                                           4
Cameroon                                        3
South Korea                                     3
United Arab Emirates                            3
Saudi Arabia                                    3
Philippines                                     3
morocco                                         3
Colombia                                        3
Hong Kong                                       2
The Philippines                                 2
Germany                                         2
india                                           2
United Kingdom                                  2
Afghanistan                                     2
Vietnam                                         2
Afghanistan                                     2
Egypt                                           2
Mali                                            2
Poland                                          2
Iran                                            2
Sudan                                           2
CANADA                                          2
Viet Nam                                        1
Kampala                                         1
Israel                                          1
somail                                          1
Kenya                                           1
France                                          1
Bosnia and Hercegovina                          1
Antigua and Barbuda                             1
Côte d'Ivoire                                   1
Sri lanka                                       1
Denmark                                         1
Dominican Republic                              1
comeroon                                        1
Madagascar                                      1
PHILIPPINES                                     1
INDIA                                           1
Belgium                                         1
Haiti                                           1
HK                                              1
Ghana                                           1
Одеська область                                 1
Ethiopia                                        1
Guatemala                                       1
Venezuela                                       1
France                                          1
Rwanda                                          1
Uk                                              1
IRAN                                            1
South Africa                                    1
Qatar                                           1
first from somali to uganda and then canada     1
Uganda                                          1
Trinidad and Tobago                             1
Armenia                                         1
Kuwait                                          1
Algeria                                         1
Morocco                                         1
Jordan                                          1
England                                         1
ethiopia                                        1
Macedonia                                       1
BC                                              1
colombia                                        1
Moldova                                         1
Yes                                             1
Brazil                                          1
Algeria                                         1
South Korea                                     1
Burundi                                         1
Philippines                                     1
Republic of Korea                               1
Slovakia                                        1
Kazakhstan                                      1
Grenada                                         1
china                                           1
 Nigeria                                        1
Bangladesh                                      1
Name: count, dtype: int64

In [41]:
# Lowercase, strip whitespace
df_demographics_filtered['Home Country Cleaned'] = (
    df_demographics_filtered['Country you have_will immigrate from']
    .str.lower()
    .str.strip()
)

# Replace known variants
country_mapping = {
    'ukrain': 'ukraine',
    'odeska oblast': 'ukraine',
    'india ': 'india',
    'INDIA': 'india',
    'Nigeria': 'nigeria',
    ' Nigeria': 'nigeria',
    'IRAN': 'iran',
    'iran ': 'iran',
    'iran': 'iran',
    'China': 'china',
    'CHINA': 'china',
    'china ': 'china',
    'colombia': 'colombia',
    'canada': 'canada',
    'CANADA': 'canada',
    'philippines': 'philippines',
    'the philippines': 'philippines',
    'south korea': 'south korea',
    'republic of korea': 'south korea',
    'uae': 'united arab emirates',
    'saudi arabia': 'saudi arabia',
    'viet nam': 'vietnam',
    'comeroon': 'cameroon',
    'cameroon': 'cameroon',
    'hk': 'hong kong',
    'russia': 'russia',
    'ussr': 'russia',
    'somail': 'somalia',
    'first from somali to uganda and then canada': 'somalia',
    'yes': None,
    'bc': 'canada',
    'uk': 'united kingdom',
    'england': 'united kingdom',
    'france ': 'france',
    # Add more as you encounter them
}

# Apply mapping
df_demographics_filtered['Home Country Cleaned'] = df_demographics_filtered['Home Country Cleaned'].replace(country_mapping)

# View counts of cleaned data
df_demographics_filtered['Home Country Cleaned'].value_counts()

Home Country Cleaned
ukraine                   40
india                     34
nigeria                   15
iran                      13
china                     12
egypt                     12
colombia                  11
canada                    11
ecuador                    9
peru                       8
philippines                7
united arab emirates       7
south korea                5
cameroon                   4
united kingdom             4
afghanistan                4
morocco                    4
pakistan                   4
turkey                     4
russia                     4
mexico                     4
hong kong                  3
saudi arabia               3
vietnam                    3
ethiopia                   2
poland                     2
sudan                      2
mali                       2
france                     2
germany                    2
somalia                    2
algeria                    2
dominican republic         1
madagascar                 1
denmark                    1
kenya                      1
kampala                    1
trinidad and tobago        1
sri lanka                  1
belgium                    1
guatemala                  1
bosnia and hercegovina     1
одеська область            1
ghana                      1
haiti                      1
côte d'ivoire              1
israel                     1
burundi                    1
antigua and barbuda        1
venezuela                  1
rwanda                     1
grenada                    1
kazakhstan                 1
slovakia                   1
armenia                    1
brazil                     1
moldova                    1
macedonia                  1
south africa               1
qatar                      1
jordan                     1
uganda                     1
kuwait                     1
bangladesh                 1
Name: count, dtype: int64

In [43]:
df_demographics_filtered['Year landed in Canada _enter 0 if not yet landed_'].value_counts()

Year landed in Canada _enter 0 if not yet landed_
2024.0    90
2023.0    51
2022.0    42
2021.0    30
0.0       21
2018.0    12
2019.0     9
2020.0     7
2017.0     2
2010.0     2
2015.0     2
2013.0     2
2029.0     1
1996.0     1
2014.0     1
2002.0     1
2016.0     1
Name: count, dtype: int64

In [45]:
# Replace the column name with a cleaner alias for convenience
year_col = 'Year landed in Canada _enter 0 if not yet landed_'

# Convert to integer, handling missing values (if any)
df_demographics_filtered[year_col] = pd.to_numeric(df_demographics_filtered[year_col], errors='coerce').astype('Int64')

# Now check value counts again (will be int now)
df_demographics_filtered[year_col].value_counts()

Year landed in Canada _enter 0 if not yet landed_
2024    90
2023    51
2022    42
2021    30
0       21
2018    12
2019     9
2020     7
2017     2
2010     2
2015     2
2013     2
2029     1
1996     1
2014     1
2002     1
2016     1
Name: count, dtype: Int64

In [47]:
df_demographics_filtered['Highest level of education'].value_counts()

Highest level of education
Degree                                                 109
Graduate degree                                         78
Diploma                                                 40
Some post-secondary (college or university courses)     20
PhD                                                     19
High school diploma or equivalent                        8
Certificate                                              1
Name: count, dtype: int64

In [49]:
df_demographics_filtered['What is your current employment status'].value_counts()

What is your current employment status
5) Unemployed                                                                 129
1) Employed                                                                   108
2) In school or training                                                       15
4) Self-employed (Contractor or Consultant)                                     9
3) On leave from employment (Leave of absence, Maternity, Paternity, etc.)      8
6) Other                                                                        6
Name: count, dtype: int64

In [51]:
df_demographics_filtered['What industry or sector are you working in'].value_counts()

What industry or sector are you working in
01) I am not currently employed                                              106
21) Other services                                                            31
13) Professional, scientific and technical services                           19
17) Health care and social assistance                                         19
11) Finance and insurance                                                     16
16) Educational services                                                      15
06) Manufacturing                                                             12
15) Administrative and support, waste management and remediation services      8
10) Information and cultural industries                                        8
19) Accommodation and food services                                            8
05) Construction                                                               7
09) Transportation and warehousing                                             6
08) Retail trade                                                               5
20) Public administration                                                      4
14) Management of companies and enterprises                                    4
12) Real estate and rental and leasing                                         3
07) Wholesale trade                                                            2
18) Arts, entertainment and recreation                                         2
Name: count, dtype: int64

In [53]:
df_demographics_filtered['Is this your preferred industry or sector'].value_counts()

Is this your preferred industry or sector
2) No     145
1) Yes    130
Name: count, dtype: int64

In [55]:
df_demographics_filtered['What is your current annual employment salary'].value_counts()

What is your current annual employment salary
1) I am not currently employed    141
3) $25,000 – $50,000               71
2) Less than $25,000               35
4) $50,000 - $75,000               17
5) $75,000 - $100,000               8
6) More than $100,000               3
Name: count, dtype: int64